.container{
    display: flex;
    background-color: peachpuff;
    width: 600px;
    height: 200px;
    flex-direction: column;        
    align-items: center;
    border: 1px black ;            
}

.title{
    margin-top: 15px;
}

.cards {
    margin-top: 15px;
    display: flex;
    border: 1px black;
    gap: 10px;
    align-items: center;
    justify-content: center;   

}

.card{
    background-color: beige;
    height: 60px;
    width: 60px;
    justify-content: space-between;
    border: 1px black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
